<div>
  <link href="./navigation-links.css" rel="stylesheet" />
  <nav class="navigation-links-nav">
    <a href="index.html" class="navigation-links-home-btn btnhover">
      <span>Home</span>
    </a>
    <a href="downloads.html" class="navigation-links-downloads-btn btnhover">
      <span>Downloads</span>
    </a>
    <a href="profiles.html" class="navigation-links-profiles-btn btnhover">
      <span>Profiles</span>
    </a>
    <a
      href="contact.html"
      class="navigation-links-contact-btn Button2 btnhover"
    >
      <span>Contact</span>
    </a>
    <a href="discord.html" class="navigation-links-discord-btn btnhover">
      <span>Discord</span>
    </a>
  </nav>
</div>
